@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px; /* Storlek på 1rem */
}

html, body {
    height: 100%; /* Ser till att sidfoten trycks ner på sidor med lite innehåll */
}

html, body, nav, header, main, aside, footer, article, section, div, iframe {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > div:first-of-type {
    background-color: #930;
    color: #FFF;
    padding: 4px 12px;
}
header a {
    color: #FFF;
}
/* ----- Layout ----- */

body {
    background-color: #FFF;
    background-image: linear-gradient(to bottom,#dcca5a,#FFF);
    background-size: 100% 200px;
    background-position: top left;
    background-repeat: no-repeat;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: auto 830px 320px auto;
    grid-template-rows: repeat(5,min-content) auto min-content;
    grid-template-areas:
        "globnav globnav globnav  globnav"
        ".       locnav  locnav   ."
        ".       header  header   ."
        ".       main    a-top    ."
        ".       main    a-bottom ."
        ".       main    .        ."
        "footer  footer  footer   footer";
}

h1,
h2,
h3,
h4,
h5 {
    font-style: italic;
    margin: 0;
    padding: 0.2rem 0;
}
h4,
h5 {
    font-style: normal;
    font-size: 1em;
}
h4 + p,
h5 + p,
h4 + ul,
h5 + ul { /* p- eller ul-element som ligger direkt efter h4 eller h5 */
    margin-top: 0;
}

header {
    grid-area: header;
    padding-top: 0.5em;
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
}
header h1 {
    color: #930;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3em;
    text-shadow: 0.1em 0.1em 0.2em #F60;
}

main {
    grid-area: main;
}
main h2 {
    background-image: linear-gradient(to right,#666666,#FFF);
    background-size: 50% 1px;
    background-position: bottom left;
    background-repeat: no-repeat;
}
main section h3 {
    background-image: linear-gradient(to right,#f4e9a4,#FFF);
    background-size: 90% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 0.2rem;
}

aside#aside-top {
    grid-area: a-top;
}
aside#aside-bottom {
    grid-area: a-bottom;
    padding-top: 1rem;
}
aside section {
    margin: 1.3em;
    padding: 0.4em;
    border: 1px solid #333;
    box-shadow: 0.1em 0.1em 1em #999;
    border-radius: 6px;
    background-color: #f9f6e4;
    color: #000;
    font-size: 0.85em;
}
aside section:hover {
    background-color: #efdd9a;
    transition: background-color 3s;
}
aside h3,
aside h4,
aside h5 {
   padding-left: 0;
}

footer {
    grid-area: footer;
    background-color: #333333;
    background-image: url(../img/favicon.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: calc(100% - 10px) center;
    box-shadow: 0px 0px 6px 4px #666666;
    color: #FFFFFF;
    padding: 0.5em 0 1em 0;
    text-align: left;
    font-size: 0.8em;
}
footer ul {
    max-width: 1150px; /* max bredd som specificerades för grid i body */
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
footer li {
    padding: 0.2em;
    color: #CCC;
}
footer a {
    color: #CCC;
    padding: 0 0.3em;
}
footer a:hover {
    background-color: #666;
    color: #CCC;
}

/* ----- Utformning av navigeringen ----- */

#menuicon,
#menucheckbox { /* "knapp" för global navigering i mobilformat */
    display: none;
}

#globnav {
    grid-area: globnav;
    background-color: #000000;
    border-bottom: 2px solid #333333;
    box-shadow: 0px 0px 6px 4px #999999;
}
#locnav {
    grid-area: locnav;
    margin-top: 4px;
    border-bottom: 1px solid #666666;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    flex-wrap: wrap;
}
#globnav ul {
    max-width: 1150px; /* max bredd som specificerades för grid i body */
    margin: 0 auto;
}
#locnav ul {
    position: relative;
}
#locnav ul.has-submenu {
    padding-bottom: 2em;
}
#locnav ul ul {
    position: absolute;
    left: 0;
    bottom: 0;
    flex-direction: row;
    flex-wrap: nowrap;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0.4em;
}
#globnav a:link,
#globnav a:visited {
    color: #FFFFFF;
}
#locnav a:link,
#locnav a:visited {
    color: #666666;
}
nav a:hover,
nav a:active {
    background-color: #dab63f;
    color: #274606;
}
nav a.thisSection {
    background-color: #bf9e31;
}
nav a.thisPage {
    background-color: #e1c66d;
}

/* ------ Ã–vrig stil för innehållet ----- */

img {
    max-width: 100%;
}

ul {
    margin-left: 1.4em;
    padding-left: 0;
}

b {
    font-weight: bold;
}
i {
    font-style: italic;
    color: #6c5817;
}
em {
    font-style: italic;
    font-weight: bold;
    color: #bc490f;
}
strong {
    font-weight: bold;
    color: #bc490f;
}
pre {
    margin: 0;
    font-size: 0.9em;
    font-style: italic;
    color: #b57f0b;
    white-space: pre-wrap;
}
code {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: #b57f0b;
}

.menuCmd {
    font-style: italic;
    color: #bc490f;
}
.menuCmd span {
    display: block;
}
.menuCmd span:nth-of-type(2) {
    margin-left: 1em;
}
.menuCmd span:nth-of-type(3) {
    margin-left: 2em;
}
.menuCmd span:nth-of-type(4) {
    margin-left: 3em;
}

a  {
    color: #000;
}
a:link,
a:visited {
    background-color: unset;
}
a:hover,
a:active {
    background-color: #999;
}
a[target=_blank]::after {
    content: url(../img/newwindow.gif);
}
a.zip,
a.pdf {
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 3.5em;
    line-height: 3em;
    vertical-align: middle;
    display: inline-block;
}
a.zip {
    background-image: url(../img/zip.png);
}
a.pdf {
    background-image: url(../img/pdf.png);
}

.alignCenter {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.book img {
    float: left;
    margin: 0.5em 1em;
    height: 100px;
    box-shadow: 2px 2px 2px #666;
    transition: all 0.5s;
}
.book img:hover {
    transform: scale(1.8);
    box-shadow: 4px 4px 2px #666;
}
.book::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 1em;
}

.videos div {
    display: inline-block;
    margin-right: 8px;
}
.video iframe { /* iframe för Youtube-filmer */
    width: 304px;
    height: 171px;
    border: none;
}
.video p { /* Text under filmen */
    margin: 0.2em 0 1em 0;
    font-size: 0.8em;
}

.weeklist {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.weeknr {
    font-weight: bold;
}

.readings {
    font-size: 0.8em;
    font-style: italic;
}

.deadline {
    color: #2f2f6a;
    font-weight: bold;
}

.courseended {
    border-top: 1px solid #999;
    font-size: 0.8em;
    font-style: italic;
}
.courseended h4 {
    font-style: italic;
    font-weight: normal;
}

.lessimportant,
.tip {
    font-size: 0.9em;
    color: #666666;
}

.shortinfo {
    font-size: 0.9em;
    font-style: italic;
    color: #666666;
    margin-top: 0;
    margin-left: 1em;
}

.obs {
    background-image: url(../img/obs.png);
    background-repeat: no-repeat;
    padding-left: 70px;
}

#fragor li {
    margin-bottom: 0.5em;
}
#fragor ol {
    list-style-type: lower-alpha;
}
#fragor ol > li::marker {
    font-weight: bold;
}

.shortdescr {
    color: #2f6a50;
    font-size: 0.8em;
}
#toggleShortdescr ~ section .shortdescr {
    display: none;
}
#toggleShortdescr:checked ~ section .shortdescr {
    display: inline;
}
#toggleShortdescr:checked ~ section .shortdescr * {
    display: list-item;
    margin-left: 2em;
}

.showHideBox label {
    display: inline-block;
    background-color: #f0d498;
    color: #000000;
    padding: 4px 8px;
    border: 2px solid #523d0e;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 2px #a78b50;
    margin-bottom: 1em;
}
.showHideBox label:hover {
    background-color: #c1a432;
}
.showHideBox label:active {
    box-shadow: none;
}
.showHideBox div {
    background-color: #faf9f5;
    border: 2px dotted #999;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.toggleBox {
    display: none;
}
.toggleBox + div {
    display: none;
}
.toggleBox:checked + div {
    display: block;
}

.courseBox {
    position: relative;
}
.courseBox > span {
    display: inline-block;
    background-color: #dba13d;
    width: fit-content;
    padding: 0.8em;
    margin: 0.5em;
    box-shadow: 3px 3px 4px #999;
}
.courseBox > div {
    position: absolute;
    z-index: 10;
    background-color: #f9f6e4;
    border: 1px solid #757575;
    top: 15px;
    left: 30px;
    padding: 0.3em;
    font-size: 0.8em;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    
}
.courseBox:hover > div {
    visibility: visible;
    transform: scaleY(1);
    transition: all 0.5s;
}

.fade {
    opacity: 0.7;
}

#assignmentBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.8em;
}
#assignmentBoxes a {
    flex-basis: 28%;
    background-color: #ecdb93;
    box-shadow: 0.1em 0.1em 1em #999;
    border-radius: 10px;
    padding: 0.5em;
    font-size: 0.8em;
    text-decoration: none;
}
#assignmentBoxes a:hover {
    background-color: #e0cd78;
    transform: scale(1.15);
    transition: all 0.5s;
}
#assignmentBoxes a:hover h4 {
    background-color: #b7a552;
    padding-left: 1em;
    transition: all 1s;
}
#assignmentBoxes ul {
    padding: 0;
    margin: 0;
    margin-left: 1em;
}

/* ------ Media queries för responsiv webbdesign ----- */

@media screen and (max-width: 1160px) {
    body {
        grid-template-columns: 70% 30%;
        grid-template-areas:
            "globnav globnav"
            "locnav  locnav"
            "header  header"
            "main    a-top"
            "main    a-bottom"
            "main    ."
            "footer  footer";
    }

    nav, main, footer {
        padding: 0 8px;
    } 
}

@media screen and (max-width: 850px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "globnav"
            "locnav"
            "header"
            "a-top"
            "main"
            "a-bottom"
            "footer";
    }

    aside {
       padding: 0 8px;
    }
    aside#aside-bottom {
        border-top: 1px solid #666;
        padding-top: 0;
    }
    aside section {
        margin: 0;
        padding: 0.5rem 0;
        border: none;
        border-bottom: 1px solid #CCC;
        box-shadow: none;
    }
}

@media screen and (max-width: 750px) {
    nav ul {
        gap: 0;
    }
    nav li {
        flex: 0 1 20%;
    }
}

@media screen and (max-width: 650px) {
    header h3,
    main h2,
    main h3 {
        font-size: 1em;
    }

    footer {
       box-shadow: none;
    }
}

@media screen and (max-width: 500px) {
    body {
        grid-template-areas:
            "menuicon"
            "globnav"
            "locnav"
            "header"
            "a-top"
            "main"
            "a-bottom"
            "footer";
    }
    
    #menuicon {
        grid-area: menuicon;
        background-color: #000000;
        background-image: url(../img/menuicon.png);
        background-repeat: no-repeat;
        height: 24px;
        display: block;
        cursor: pointer;
    }
    #menucheckbox ~ nav {
        display: none;
    }
    #menucheckbox:checked ~ nav {
        display: block;
    }
    #globnav {
        box-shadow: none;
    }
    nav ul {
        flex-direction: column;
    }
    nav a {
        display: block;
    }

    header h1 {
        font-size: 2.5em;
    }

    .alignCenter {
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    header h1 {
        font-size: 2em;
    }
    header h2 {
        font-size: 1.2em;
    }

    .video iframe { /* iframe för Youtube-filmer */
        width: 256px;
        height: 144px;
    }

    #courseBoxes {
        flex-direction: column;
    }
}

@media screen and (max-width: 350px) {
    header h1 {
        font-size: 1.5em;
    }
    footer {
        background-image: none;
    }
}